aws_region      = "ap-southeast-1"
aws_access_key  = ""
aws_secret_key  = ""
aws_cache_paths = ["/assets/*", "/*.png", "/*.svg"] # Vite assets

sentry_auth_token = ""

domain_name     = "example.com"
dev_domain_name = "dev.example.com"
uat_domain_name = "uat.example.com"
